<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="Container">
      <form action="" method="post">
        <h2>Resgistro Proyecto Integrador</h2>
        <div class="input-box">
          <label for="name">Nombre del proyecto</label>&nbsp;
          <input type="text" placeholder="" name="name" required />
        </div>
        <br />
        <div class="content">
          <div class="input-box">
            <label for="name">Cedula</label
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="number" placeholder="" name="name" required />
          </div>
          <br />
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Descripcion</label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>
          <br />
          <div class="form-group">
            <label for="exampleFormControlSelect1">Nivel</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Primero</option>
              <option>Segundo</option>
              <option>Tercero</option>
              <option>Cuarto</option>
              <option>Quinto</option>
            </select>
          </div>
          <br>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFileLang" lang="es">
            <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
          </div>
        </div>
        <br />
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </body>
</html>
