<section class="vh-100">
  <h1>Registro de estudiantes</h1>
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://yavirac.edu.ec/img/Logo%20Yavirac.png"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form>
          <!--Names-->
          <div class="form-outline mb-4">
            <input type="text" id="form1Example23" class="form-control form-control-lg" />
            <label class="form-label" for="form1Example23">Nombres</label>
          </div>

          <!--Surnames-->
          <div class="form-outline mb-4">
            <input type="text" id="form1Example23" class="form-control form-control-lg" />
            <label class="form-label" for="form1Example23">Apellidos</label>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form1Example13" class="form-control form-control-lg" />
            <label class="form-label" for="form1Example13">Correo</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="form1Example23" class="form-control form-control-lg" />
            <label class="form-label" for="form1Example23">Contraseña</label>
          </div>

          <!--phone number-->
          <div class="form-outline mb-4">
            <input type="number" id="form1Example13" class="form-control form-control-lg" />
            <label class="form-label" for="form1Example13">Telefono</label>
          </div>

          <!--<<div class="d-flex justify-content-around align-items-center mb-4">
             Checkbox
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
              <label class="form-check-label" for="form1Example3"> Remember me </label>
            </div>
            <a href="#!">Forgot password?</a>
          </div>-->

          <!-- Submit button -->
          <button
          type="submit"
          class="btn btn-primary btn-lg btn-block"
          (click)="login()"
        >
          Registrate
        </button>
        </form>
        <div class="text-center text-lg-start mt-4 pt-2">
          <p class="small fw-bold mt-2 pt-1 mb-0"><a href="#!"
              class="link-danger"></a></p>
        </div>
      </div>

    </div>
  </div>
</section>
