<div class="cuadros">

  <div class="row">
    <div class="col-sm-6  ">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Proyectos primer semestre</h4>
          <p class="card-text">Registra tu proyecto si eres de </p>
          <p class="card-text">primer semestre</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Proyectos segundo semetre</h4>
          <p class="card-text">Registra tu proyecto si eres de </p>
          <p class="card-text">segundo semestre</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Proyectos tercer semestre</h4>
          <p class="card-text">Registra tu proyecto si eres de </p>
          <p class="card-text">tercer semestre</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Proyectos cuarto semestre</h4>
          <p class="card-text">Registra tu proyecto si eres de </p>
          <p class="card-text">cuarto semestre</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>

  <br>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Proyectos quinto semestre</h4>
          <p class="card-text">Registra tu proyecto si eres de </p>
          <p class="card-text">quinto semestre</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

</div>
