<div class="cuadros">

  <div class="row">
    <div class="col-sm-6  ">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"></h4>
          <p class="card-text">Proyectos primer semestre</p>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"></h4>
          <p class="card-text">Proyectos segundo semestre</p>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"></h4>
          <p class="card-text">Proyectos tercer semestre</p>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"></h4>
          <p class="card-text">Proyectos cuarto semestre</p>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>

  <br>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"></h4>
          <p class="card-text">Proyectos quinto semestre</p>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

</div>
